.m-open-info{
    height: 750px;
    background-image: url(../../images/Background/Background2.jpeg);
    background-size: 100%;
    background-color: #0d0d0d;
    background-position: center;
    background-repeat:no-repeat;
}