html{
    height: 100% !important;
}
    
#root {
    height: 100vh !important;
}

.m-home-page-whole-layout{
    display: grid !important;
    grid-template-rows: 8% auto auto!important;
    height: auto !important;
    min-height: 150vh !important;
}