<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/home_page/home_page_main.css">
    <link rel="stylesheet" href="../static/css/home_page/home_page_all.css">
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body class="m-home-page-whole-layout">

    <!--The navigation bar-->
    <nav class="ui m-padded-tb m-header-frame">
        <div class="ui container">
            <div class="ui inverted secondary menu">
                <h2 class="ui white header item">Wei Ge</h2>
                <a href="#" class="item"><i class="home link icon"></i>首页</a>
                <a href="#" class="item"><i class="tags link icon"></i>标签</a>
                <a href="#" class="item"><i class="pencil alternate link icon"></i>笔记</a>
                <a href="#" class="item"><i class="flag link icon"></i>随笔</a> 
                <a href="#" class="item"><i class="github link icon"></i>GitHub</a>
                <a href="#" class="item"><i class="smile outline link icon"></i>关于我</a>
                <div class="right item">
                    <div class="ui icon input">
                        <input type="text" placeholder="搜索...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

   <!--The main content-->
    <main class="m-home-page-main-layout">

        <!--Title of the content-->
        <div class="m-main-text-topic ui container">
            <i class="bookmark icon"></i>最新更新
        </div>
    
    
        <div class="m-each-recommoned-blog ui container">1</div>
        <div class="m-each-recommoned-blog ui container">2</div>
        <div class="m-each-recommoned-blog ui container">3</div>
        <div class="m-each-recommoned-blog ui container">4</div>
        

    </main>

    <!--The footer-->
    <footer class="ui inverted attached segment">
        <div class="m-footer-whole">
            <!--Stay Foolish-->
            <div class="m-footer-left-text">
                <h1 class="ui inverted header grey">Stay Hungry</h1>
                <h3 class="ui inverted header grey">Stay Foolish</h3>
                <h4 class="ui inverted header grey">保持饥饿</h4>
                <h5 class="ui inverted header grey">保持愚蠢</h5>
            </div>
            
            <!--Contact-->
            <div class="m-footer-right-contact">
                <div class="m-footer-contact-text">
                    <h4 class="m-text-thin m-text-spaced m-text-lined m-opacity-mini">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item m-footer-contact-text">Email: gewg046@outlook.com</a>
                        <a href="#" class="item m-footer-contact-text">QQ: 1821691929</a>
                    </div>
                </div>
                <div class="m-footer-right-graph">
                    <img src="../static/images/微信二维码.jpeg" class="" style="width: 110px;">
                </div>
            </div>
        </div>
        <div>
            <div class="ui inverted section divider"></div>
            <p class="m-footer-copywright m-text-thin m-text-spaced m-text-lined m-opacity-mini grey">Copyright © 2022 Designed by Wei Ge</p>
        </div>
    </footer>
</body>

</html>